 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 200vh;
    width: 200 px;;
    background: url(	https://images.pexels.com/photos/10897656/pexels-photo-10897656.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load) ;
    background-size: cover;
   
  }
 
  
  .main {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
   
    
  }
  .photo{
  border-bottom-left-radius:  200%;
border-bottom-right-radius:  200%;
border-top-left-radius:200% ;
border-top-right-radius:200% ;
margin-left: 8%;

 }
  .container {
    border-radius: 10%;
    height: 500px;
    width: 350px;
    box-shadow: 0 10px 20px black;
    background-size: cover;
    font-family: 'Abel', sans-serif;
  }
  
  .gradient {
    
    border-radius: 10%;
    height: 100%;
    width: 100%;
    top: 0;
    background: url(	https://images.pexels.com/photos/10897656/pexels-photo-10897656.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load) no-repeat center;
    backdrop-filter: blur(15px);
    opacity: 0,2;
    
  }
  
  
  .content {
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  h2 {
    font-size: xx-large;
    letter-spacing: 0 px;
    padding-top: 4px;
  }
  
  .details {
    font-style: italic;
    color: rgb(10, 10, 10);
  }
  
  .icons {
    display: flex;
    flex-direction: column;
    top: -30%;
    position: absolute;
    left: 90%;
  
  }
  
  .icons i {
    margin:25px 0 5px 0;
    font-size:30px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    transition: 0.6s;
  }
  
  .icons i:hover {
    color: rgb(231, 231, 231);
    
  }
  
  @media screen and(min-width:200px) {
    .container {
      height: 350px;
      width: 200px;
    }
    h2 {
        font-size: x-large;
    }
    .icons i {
        font-size: large;
        margin-bottom: 10px;
    }
  }






